:root {
    touch-action: pan-x pan-y;
    height: 100%
}

.theme-default {
    --theme-dark: #202527;
    --theme-dark-accent: #131517;
    --theme-dark-transparent: rgba(26, 30, 32, 0.43);
    --theme-dark-highlight: #bdc3c7;
    --theme-dark-primary: #2980b9;
    --theme-text-color: #bdc3c7;
}

.theme-night {
    --theme-dark: #321313;
    --theme-dark-accent: #2c0a0a;
    --theme-dark-transparent: rgba(44, 10, 10, 0.56);
    --theme-dark-highlight: #cf6060;
    --theme-dark-primary: #6c1a14;
    --theme-text-color: #ba827c;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100svh;
    max-height: 100vh;
    font-family: sans-serif;
    background-color: var(--theme-dark);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--theme-dark-highlight);
}

button {
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    background-color: var(--theme-dark-primary);
    border-radius: 6px;
    color: var(--theme-text-color);
    font-weight: bold;
}

.outlined {
    background-color: transparent;
    border: 1px solid var(--theme-dark-primary);
}

.small {
    padding: 8px 12px;
    font-weight: normal;
}

header {
    width: 100%;
    padding: 16px 24px 20px 16px;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-dark-accent);
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: var(--theme-text-color);
    display: flex;
    align-items: center;
}

section {
    padding: 48px 24px 0 24px;
    box-sizing: border-box;
}

.icon {
    height: 24px;
    width: 24px;
}

.primary-icon {
    color: var(--theme-dark-primary);
}

.content {
    height: 100%;
    overflow: scroll;
}

.night-mode {
    color: var(--theme-text-color);
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: normal;
    padding: 8px 16px;
    border-radius: 48px;
}

.night-mode.selected {
    background-color: var(--theme-dark);
}


.night-mode svg {
    height: 20px
}

.bottom-bar {
    background-color: var(--theme-dark-accent);
    display: flex;
    justify-content: space-around;
    padding: 16px 16px;
    font-size: 12px;
}

.bottom-bar .selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.bottom-bar div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    opacity: 70%;
    align-items: center;
    width: 100%;
}

.bottom-bar div svg {
    height: 24px;
}

.settings-screen {
    display: none;
}

.tracking {
    width: 100%;
    margin: 0 0 42px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.controls {
    /*font-weight: bold;*/
    font-size: 42px;
}

.percentage {
    /*font-weight: bold;*/
    font-size: 42px;
    width: 172px;
    height: 172px;
    background: conic-gradient(
            var(--theme-dark-primary) 0,
            var(--theme-dark-accent) 0
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 1s;
}

.percentage-value {
    width: 152px;
    height: 152px;
    background-color: var(--theme-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.controls .buttons {
    display: inline-flex;
    gap: 24px;
}

.controls .buttons button.stop-button {
    display: none;
    border-radius: 50px;
    width: 150px;
}

.controls button {
    border-radius: 50%;
    padding: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-dark-primary);
    background-color: var(--theme-dark-transparent);
    color: var(--theme-text-color);
    fill: var(--theme-text-color);
}

.controls button:disabled {
    opacity: 0.5;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-button:disabled {
    opacity: 0.5;
}

.capture {
    margin-top: 32px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

button svg {
    height: 24px;
    width: 24px;
}

.calibrating {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.calibrating svg {
    height: 48px;
}

.settings-title {
    margin-top: 0;
    margin-bottom: 48px;
}

.settings-subtitle {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    margin: 24px 0;
}

.input {
    font-size: 24px;
    border: 1px solid var(--theme-dark-highlight);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px;
    outline: none;
    color: var(--theme-dark-highlight);
}

.shutter-setting {
    display: flex;
    align-items: center;
    gap: 16px;
}

.shutter-speed, .processing-time {
    width: 50%;
}

.logs {
    width: 100%;
    background-color: var(--theme-dark-accent);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    font-family: "Courier New";
}

.loader {
    height: 48px;
    animation: spinner 2.5s infinite linear;
}

@keyframes spinner {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}