:root {
    touch-action: pan-x pan-y;
    height: 100%
}

html, body {
    --theme-dark: #202527;
    --theme-dark-accent: #131517;
    --theme-dark-transparent: rgba(26, 30, 32, 0.43);
    --theme-dark-highlight: #bdc3c7;
    --theme-dark-primary: #2980b9;

    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: sans-serif;
    background-color: var(--theme-dark);
}

button {
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    background-color: var(--theme-dark-primary);
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

header {
    width: 100%;
    padding: 24px 24px 24px 24px;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-dark-accent);
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: var(--theme-dark-highlight);
}

section {
    padding: 48px 24px 0 24px;
    box-sizing: border-box;
}

.icon {
    height: 24px;
    width: 24px;
}

.primary-icon {
    color: var(--theme-dark-primary);
}

.tracking {
    width: 100%;
    margin: 0 0 42px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.controls {
    /*font-weight: bold;*/
    font-size: 42px;
}

.percentage {
    /*font-weight: bold;*/
    font-size: 42px;
    width: 172px;
    height: 172px;
    background: conic-gradient(
            var(--theme-dark-primary) 180deg,
            var(--theme-dark-accent) 180deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percentage-value {
    width: 152px;
    height: 152px;
    background-color: var(--theme-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.controls .buttons {
    display: inline-flex;
    gap: 24px;
}

.controls button {
    border-radius: 50%;
    padding: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-dark-primary);
    background-color: var(--theme-dark-transparent);
    color: white;
    fill: white;
}

.track-button {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 16px;
}


.track-button svg {
    height: 24px;
    width: 24px;
}